* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #000000;
  background: linear-gradient(
    360deg,
    rgb(0, 0, 0) 0%,
    rgb(40, 37, 37) 49%,
    rgba(36, 36, 36, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
.reels-section {
  width: 450px;
  height: 100%;
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.reels-section::-webkit-scrollbar {
  display: none;
}
.reels {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.reels .main-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reels .bottom-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: linear-gradient(transparent, rgb(0 0 0 / 90%));
}
.bottom-info img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
.bottom-info .user {
  display: flex;
  gap: 15px;
  align-items: center;
  color: #fff;
}
.bottom-info .user button {
  padding: 2px 6px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
.bottom-info h2 {
  color: #fff;
  margin-top: 20px;
  font-weight: 500;
}
.reels .right-info {
  position: absolute;
  right: 0;
  bottom: 7%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.right-info .like-icon .love {
  color: red;
}
.right-info .like-icon,
.right-info .comment-icon,
.right-info .share-icon,
.right-info .menu-icon {
  font-size: 18px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.right-info .like-icon p,
.right-info .comment-icon p,
.right-info .share-icon p,
.right-info .menu-icon p {
  font-weight: 500;
  pointer-events: none;
}
.right-info .like-icon i,
.right-info .comment-icon i,
.right-info .share-icon i,
.right-info .menu-icon i {
  font-size: 30px;
  pointer-events: none;
}
